<div style="
    height: 125px;
    width: 100%;
    background-color: #50C8EC;
">
  <%= image_tag("li-thirst-icons-app-icon-take-2.png", :size => "125x125") %>
</div>
<div>
  <h1>Welcome to L.I. Thirst's website!</h1>
  <h3>This website will be used to manage your business's deals. Please choose a role from below to login or register. Thanks! </h3>
</div>

<% if current_user %>
<%= link_to 'Venues', venues_path %> <br><br>
<%= link_to 'Logout', destroy_user_session_path, :method => :delete %> <br><br>
<% else %>
<%= link_to 'Login', new_user_session_path %> <br><br>
<% end %>
